.login_section_content {
  padding: 10%;
  background-color: rgb(74, 184, 183);
  
}

.login_section {
  display: flex;
  justify-content: space-between;
}
.login_section .left_section {
  width: 100%;
}
.login_btn{
    width: 67%;
}

.right_section .login_page_image{
   margin-top: 10%;
}



