.dashboard-layout{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.dashboard-layout .header{
  /* display: none; */
}

.sidebar-menu{
  width: 260px;
  height: 100%;
  position: fixed;
}

.content{
  margin-left: 260px;
  max-width: calc(100% - 260px);
  height: 100%;
}

@media screen and (max-width : 1300px) {
  .sidebar-menu{
    width: 100px;
  }

  .content{
    margin-left: 100px;
    max-width: 100%;
    border: 2px solid red;
  }
}

